<div class="nav-items">
    <div class="logo">
        <span class="logo-e">E-</span>vault
    </div>
    <div class="case-button">
        <a href="#">Create new Case</a>
    </div>
    <div class="nav-item">
        <a href="#">Dashboard</a>
    </div>
    <div class="nav-item">
        <a href="#">Judges</a>
    </div>
    <div class="nav-item">
        <a href="#">Lawyers</a>
    </div>
    <div class="nav-item">
        <a routerLink="/documents">Documents</a>
    </div>
    <div class="nav-item">
        <a href="#">Settings</a>
    </div>
    <div class="nav-item">
        <a href="#">Logout</a>
    </div>
</div>