<div class="hero-container">
    <div class="hero">
        <div class="header">
            <h1 class="hero-text">
                Welcome to your
                <span class="evault-text">E-vault</span>
            </h1>
            <h4>
                A decentralised platform for your legal documents
            </h4>
        </div>
        <div class="wallet-id">
            <input type="text" placeholder="Enter your Wallet ID" required #box>
        </div>
        <div class="login-btn">
            <a (click)="getID(box.value)">Login with MetaMask</a>
        </div>
    </div>
</div>
